grant {
  permission java.io.FilePermission "./*", "write";
  permission java.io.FilePermission "./jars/*", "read,write";
  permission java.io.FilePermission "/Library/Java/JavaVirtualMachines/jdk1.8.0_31.jdk/Contents/Home/jre/lib/*", "read";
  permission java.io.FilePermission "/Library/Java/JavaVirtualMachines/jdk1.8.0_31.jdk/Contents/Home/lib/*", "read";
  permission java.io.FilePermission "/Library/Java/JavaVirtualMachines/jdk1.8.0_31.jdk/Contents/Home/jre/lib/*", "read";
  permission java.lang.RuntimePermission "accessDeclaredMembers" ;
  permission java.lang.RuntimePermission "getClassLoader" ;
  permission java.util.PropertyPermission "javax.xml.validation.SchemaFactory:http://relaxng.org/ns/structure/1.0", "read,write";
  permission java.io.FilePermission "./config/deployment.rnc", "read";
  permission java.io.FilePermission "./config.xml", "read";
  permission java.io.FilePermission "./*", "write";
  permission java.io.FilePermission "<<ALL FILES>>", "execute";
  permission java.util.PropertyPermission "user.dir", "read";
  permission java.net.SocketPermission "*:1999", "connect, resolve";
  permission java.net.SocketPermission "*:1024-", "connect, resolve";
  permission java.net.SocketPermission "*:1024-", "accept, resolve";
  permission java.lang.RuntimePermission "stopThread";
  permission java.lang.RuntimePermission "modifyThread";
  permission java.lang.RuntimePermission "modifyThreadGroup";
  permission java.lang.RuntimePermission "setIO";
};
