<deployment>
   <hosts>
    <host name="localhost"
          dir="/Users/jmalenfant/principal/Tests/Basic_CS/"/>
  </hosts>
  <cyclicBarrier   hostname="localhost" port="55253"/>
  <globalRegistry  hostname="localhost" port="55252"/>
  <rmiRegistryPort no="55999"/>
  <jvms2hostnames>
    <jvm2hostname jvmuri="provider"
        rmiRegistryCreator="true"
        hostname="localhost"
        mainclass="fr.sorbonne_u.components.examples.basic_cs.DistributedCVM"/>
    <jvm2hostname jvmuri="consumer"
        rmiRegistryCreator="false"
        	hostname="localhost"
        mainclass="fr.sorbonne_u.components.examples.basic_cs.DistributedCVM"/>
  </jvms2hostnames>
</deployment>